{% extends 'base.html.twig' %}

{% block title %} Party n° {{ id }}  {% endblock %}

{% block body %}
    <h1>Party n° {{ id }} </h1>
    Name : {{ name }}
    <br>
    <br>
    <div>
        Currently connected Players :
        {% for player in players %}
            <li> 
                {{ player.name }} ({{player.id}})
            </li>
        {% endfor %}
    </div>
    <div>
        <h2>Questions</h2>
        {{ form_start(form) }}
        <ul class="questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
            {% for question in form.questions %}
                <li>{{ form_row(question.label) }}</li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
    </div>

{% endblock %}    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/party.js') }}"></script>
{% endblock %}