{% extends 'base.html.twig' %}

{% block title %} Webgame Demo {% endblock %}

{% block body %}
    <ul>
        <li> 
            <a href="{{ path('party_new') }}">Create a new party >></a>
        </li> 
        <li> 
            <a href="{{ path('party_rejoin') }}">Rejoin an existing party >></a>
        </li> 
    </ul>
    <br>
    <ul>
        {% for party in current_parties %}
            <li> 
                <span> Party {{ party.name }} ({{party.id}}) (DEBUG : {{party.code}})</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body_footer %}{% endblock %}